.backoffice {
    display: flex;
    height: 100%;
    font-family: var(--bo_primaryFont);
}
.aside {
    background-color: var(--bo_sidebarBackgroundColor);
    flex: 0 0 20%;
    padding: 20px;
}
.main {
    background-color: var(--bo_bodyBackgroundColor);
    flex: 0 0 80%;
    padding: 50px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}
.userHello{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__img {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
        img {
            border-radius: 100%;
        }
    }

    &__txt {
        color: var(--bo_sidebarTextColor);
        flex: 0 0 100%; 
        text-align: center;
        font-weight: 700;
    }

    &__logout{
        color: var(--bo_sidebarLinkColor);
        text-decoration: none;

        &:hover, &:focus {
            color: var(--bo_sidebarActiveLinkColor)
        }
    }
 
}