<div class="backoffice">
    
    <aside class="aside">
        <div class="logo">
            <a [routerLink]="['/', 'admin']">
                <img src="../../assets/sg__logo--white.svg" width="40" height="53">
            </a>
        </div>
        <div class="userHello">
            <div class="userHello__img">
                <img src="../../assets/gs.jpg" width="70" height="71">
            </div>
            <p class="userHello__txt">Hi, Gaël</p>
            <a class="userHello__logout" href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
        <app-menu/>
        <app-footer/>
    </aside>
    
    <main class="main">
        <app-header/>
        <router-outlet/>
        <app-web-notification/>
    </main>

</div>





