<!-- {{ picture | json }} -->

<div class="row">

    <div class="col-md-4" *ngFor="let item of availableFiles">
        <div class="image-item" *ngIf="item.action !=='DELETE'">
            <img [src]="item.imageUrl" alt="" (click)="setImageView(item.imageUrl)">
            <div>
                <button class="btn btn-success" (click)="updateImage(item.imageUrl)">Changer</button>
                <button class="btn btn-danger" (click)="removeImage(item.imageUrl)">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <input type="file" name="file" id="file" class="none" (change)="addFile($event)" [multiple]="true">
        <button class="btn btn-success">
            Ajouter image
        </button>
        {{errorMessage}}
    </div>

    <app-image-preview
        *ngIf="imageUrl"
        [src]="imageUrl"
        (closeModal)="setImageView(null)"
    />

</div>