<!-- {{ images | json }} -->

<div class="row">

    <!-- <div class="col-md-4" *ngFor="let item of availableFiles"> -->
        <div class="col-md-4 image-item" *ngIf="images.action !=='DELETE'">
            <img [src]="file" alt="" (click)="setImageView(file)" width="100%">
            <div>
                <button class="btn btn-success" (click)="updateImage(file)">Edit</button>
                <button class="btn btn-danger" (click)="removeImage(file)">Delete</button>
            </div>
        </div>
    <!-- </div> -->

    <div class="col-md-4">
        <input type="file" name="file" id="file" [multiple]="true" style="display: none" (change)="addFile($event)">
        <button class="btn btn-success" (click)="handleAddFile($event)">
            Add image
        </button>
        {{errorMessage}}
    </div>

    <app-image-preview
        *ngIf="imageUrl"
        [src]="imageUrl"
        (closeModal)="setImageView(null)"
    />

</div>