<form action="" [formGroup]="form" *ngIf="form">
    <div class="form-inline"  *ngFor="let name of entityNames">
        <label for="">
            {{ name | formatName }} :
        </label>

        <!-- {{ name | formatType: data }} -->

        <input 
            *ngIf="(name | formatType: data) === 'INPUT'"
            class="form-control"
            type="text" 
            name=""
            [formControlName]="name" 
            [value]="name | formatFormValue: data"
        >

        <select 
            *ngIf="(name | formatType: data) === 'SELECT'"
            [formControlName]="name" 
            id=""
            [name]="name"
            class="form-control single-select"
        >
            <option 
                [value]="true"
                [selected]="(name | formatFormValue : data) == true"
            >
                Yes
            </option>
            <option 
                [value]="false"
                [selected]="(name | formatFormValue : data) == false"
            >
                No
            </option>
        </select>

        <div *ngIf="(name | formatType: data) === 'IMAGE'">
            <app-image-view
                [pictures]="name | formatFormValue : data"
                (emitFile)="handleChangeFile($event)"
            />
        </div>

        <!-- <div *ngIf="(name | formatType: data) === 'OPTION'">
            <app-option-form
                [options]="name | formatFormValue: data"
                (emitOption)="handleUpdateOption($event)"
            />
        </div> -->

        <!-- <div *ngIf="(name | formatType: data) === 'SELECT_CATEGORIES'">
            <select 
                class="form-control select-categories"
                name="categories[]" 
                id=""
                multiple="multiple"
            >
                <option 
                    [value]="category.id"
                    [selected]="categoriesSelected.includes(category.id)"
                    *ngFor="let category of categories"
                >
                    {{ category.name }}
                </option>
            </select>
        </div> -->

    </div>

    <div class="action">
        <a class="btn btn-danger" [routerLink]="['/', entity]">
            Cancel
        </a>
        <button class="btn btn-success" (click)="handleSubmit()">
            {{ formType == 'add' ? "Save" : "Update" }}
        </button>
    </div>
</form>