.main {
    display: flex;
    flex-wrap: wrap;

    &__title {
        font-weight: 700;
        font-family: var(--bo_headingFont);
        flex: 0 0 50%;
    }
    &__search {
        flex: 0 0 50%;
    }
    &__datas {
        flex: 0 0 100%;

        &__intro {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            .btns {
                position: relative;
                .btn {
                    margin-left: 10px;
                    &-success {
                        background: var(--bo_primaryBtnBackgroundColor);
                        color: var(--bo_primaryBtnTextColor);
                        border: none;
                    }
                }
                .entityNames {
                    position: absolute;
                    background: white;
                    right: 0;
                    padding: 10px;
                    border: 1px solid var(--bo_bodyBackgroundColor);

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            font-size: 14px;
                            line-height: 20px;
                            display: flex;

                            input {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        &__controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }
    }
}