<h2>{{ pageName }}</h2>

<div *ngIf="data">
    <div *ngIf="action=='view'">
        <div *ngFor="let name of filteredEntityNames">
            <strong>{{ name | formatName }}</strong>
            <div [innerHTML]="getValue(name) | formatvalue: [name, data]"></div>
        </div>
    </div>

    <app-entity-form
        *ngIf="action=='edit' || action=='add'"
        [entityNames]="entityNamesAll"
        [data]="data"
        [entity]="entity"
        [formType]="action"
        (formEmit)="handleFormChange($event)"
    />
</div>



