

<main class="main">
    <h1>All {{ pageName }}</h1>
    <!-- {{ datas | json }} -->

    <app-loading *ngIf="isLoading"/>

    <div *ngIf="!isLoading">
        
        <app-search-form
            *ngIf="datas.length || query"
            [name]="entityNames[0]"
            (newValue)="searchData($event)"
        />
        <div *ngIf="query">
            {{ datas.length }} Search result(s) with the keyword: <strong>{{ searchTag }}</strong>
        </div>

        <div class="table-container"  *ngIf="result?.total">

            <p *ngIf="result?.total > 1">
                <strong>{{ result?.total }}</strong> datas found
            </p>
            <p *ngIf="result?.total === 1">
                <strong>{{ result?.total }}</strong> data found
            </p>

            <div class="d-flex justify-content-end" [ngClass]="{
                'justify-content-end': !group.length,
                'justify-content-between': group.length
            }">
                <a class="btn btn-danger" *ngIf="group.length" (click)="handleDelete(null)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                    Delete {{ group.length }} item(s)
                </a>
                <a class="btn btn-success" [routerLink]="['/', entity, 'add']">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    Add New
                </a>
                <button class="btn btn-success" (click)="setDisplaySelectionBox()">
                    <fa-icon [icon]="faLayerGroup"></fa-icon>
                </button>
                <div class="entityNames" *ngIf="displaySelectionBox">
                    <ul>
                        <li *ngFor="let entityName of entityNamesAll; let first = first">
                            <input 
                                type="checkbox" 
                                class="form-check-input" 
                                [checked]="first || entityNames.includes(entityName)"
                                [disabled]="first"
                                (change)="setEntityNames($event, entityName)"
                                name="" 
                                id=""
                            />
                            {{ entityName | formatName }}
                        </li>
                    </ul>
                </div>
            </div>

            <table class="table shadow table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            <input 
                                type="checkbox" 
                                name="" 
                                id="" 
                                class="form-check-input"
                                (change)="groupAll($event)"
                            >
                        </th>
                        <th scope="col">N°</th>
                        <th scope="col" *ngFor="let name of entityNames">{{ name | formatName }}</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datas; let index = index">
                        <td scope="row">
                            <input 
                                type="checkbox" 
                                name="" 
                                id="" 
                                class="form-check-input"
                                [checked]="group.includes(data.id)"
                                (change)="handleGroup($event, data.id)"
                            >
                        </td>
                        <td scope="row">
                            {{ result?.total - ((result.currentPage-1)*pageLimit) - index }}
                        </td>
                        <td *ngFor="let name of entityNames" (click)="setImageView(name, data)">
                            <div [innerHTML]="getValue(data, name) | formatTag: searchTag | formatvalue: [name, data]"></div>
                        </td>
                        <td>
                            <a [routerLink]="[data.id, 'view']" class="btn btn-success m-1">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                            <a [routerLink]="[data.id, 'edit']" class="btn btn-primary m-1">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </a>
                            <a class="btn btn-danger m-1" (click)="handleDelete(data)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <app-image-preview
                *ngIf="pictures"
                [src]="pictures"
                (closeModal)="setImageView(null, null)"
            />

            <div class="d-flex justify-content-end">
                <div class="item-per-page">
                    Item per Page
                    <select name="pageLimit" id="pageLimit" (change)="setPageLimit($event)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            <app-pagination
                *ngIf="datas.length"
                [currentPage]="result.currentPage"
                [total]="result.total"
                [nextPage]="result.nextPage"
                [previousPage]="result.previousPage"
                [totalByPage]="pageLimit" 
                [totalPages]="result.totalPages"
                (pageSelected)="setPage($event)"
            />
        </div>

        <div *ngIf="!datas.length && !query">
            <p>
                No data available
            </p>
            <a class="btn btn-success" routerlink="add">
                <fa-icon [icon]="faPlus"></fa-icon>
                Add
            </a>
        </div>
    </div>

    <app-modal
        *ngIf="isDeleting"
        [entityData]="entityDelete"
        [modalTitle]="modalTitle"
        [modalContent]="modalContent"
        (closeModal)="handleCloseModal($event)"
        (confirmAction)="handleConfirmModal($event)"
    />
   
</main>
